html, body {
    padding: 0;
    margin: 0;
}

main {
    margin: 50px;
}

button {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#sidebar {
    display: none;
}
