    a.logo {
        width: 5.5rem;
        height: 5.5rem;
        line-height: 5.5rem;
        border: solid _size(border-width) _palette(border);
        border-radius: 100%;
        text-align: center;

        .icon {
            max-width: 100%;
            max-height: 100%;

            &:before {
                font-size: 2rem;
            }
        }

        &:hover {
            text-decoration: none;
        }

		@include breakpoint(small) {
            width: 4.75rem;
            height: 4.75rem;
            line-height: 4.75rem;

            .icon {
                &:before {
                    font-size: 1.75rem;
                }
            }
        }
    }
